
# Palmer Penguins



This notebook contains my analysis of the famous palmer penguins dataset.